#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.displaybutton {
    background-color: #00abc5;
    color: white;
}

.errmsg {
    font-family: "Helvetica";
    padding-bottom: 8px;
    background-color: red;
    font-size: 25px;
    color: black;

}

.buttonborder {
    border-bottom: solid 2px #00abc5;
}

.alertmsg {
    font-family: "Helvetica";
    padding-bottom: 8px;
    background-color: #00abc5;
    color: white;
    font-size: 25px;
}

.displaybuttoninvoice {
    background-color: #F04d23;
    color: white;
}

.taxbutton{
    background-color: #00abc5;
    color: white;
    margin-right: 2px;
    width: 80%;
    margin-top: 5px;
}

.taxbuttoninvoicing{
    background-color: #F04d23;
    color: white;
    margin-right: 2px;
    width: 80%;
    margin-top: 5px;
}

.dropdownsize{
    font-size: 20px;
}

.ctooltip .ctooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: grey;
    color: #fff;
    text-align: center;
    word-spacing: -10px;
    font-size: 20px;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.ctooltip:hover .ctooltiptext {
    visibility: visible;
}

.headerfont {
    font-family: Arial, Helvetica, sans-serif;
}

.bottomborder {
    border-bottom: 2px solid #00abc5;
}

.bottomborderinvoicing {
    border-bottom: 2px solid #F04d23;
}

.orderdetailselect:hover {
    background-color: #80eeff;
    color: black;
}

.orderborder {
    border: 2px solid #00abc5;

    /* border-bottom: none; */
    padding: 5px;
}

.orderpadding {
    padding: 10px;
}

.orderfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.editorderunderline {
    border-bottom: 2px solid #00abc5;
}

.editorderunderlineinvoicing {
    border-bottom: 2px solid #F04d23;
}

/*  FOR TESTING*/
.absolutePosition{
  position: absolute;
}
.search-result{
  z-index: 5;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 210px;
  height: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

.productAdd {
    border-top: 1px solid #00abc5;
    border-left: 1px solid #00abc5;
    border-right: 1px solid #00abc5;
    border-bottom: 1px solid #00abc5;
    /* background: #F04d23; */
    margin-top: -1px;
    margin-left: 0px;
    margin-right: 0px;
      
}
/* div.productAdd:last-child{
    border-bottom: 2px solid #00abc5;
} */

.productAdd:hover {
  background-color: pink;
}
.totalpadding{
    padding-top: 10px;
}
/* .totalpaddingshipping{
    padding-top: 10px;
    padding-bottom: 11px;
} */
.orderfontshipping{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100px;
    height: 25px;
    padding-top: 1px;
}
.totalborders{
    border: 2px solid #00abc5;
}

.totalbordersinvoicing{
    border: 2px solid #F04d23;
}

#search-box{
  text-align: center;
  width: 400px;
  height: 40px;
}
.borderforsubmitbuttons{
    border-bottom: 2px solid #00abc5;
    padding-bottom: 10px;
}
.submitpadding{
    padding-top: 10px;
}
.errorsize{
    font-family: "Helvetica";
    font-size: 18px;
}

.inputtextsize {
    font-size: 15px;
    font-family: "Helvetica";
    margin: auto;
}

.instructiontextsize {
    font-size: 20px;
}

.stateinputheader{
    margin-top: -20px;
    font-size: 25px;
    font-family: "Helvetica";

}

.emagiTab {
    width: 100%;
    background-color: #00abc5;
    color:black;
}

.emagiTabInvoice {
    width: 100%;
    background-color: #F04d23;
    color:black;
}

.opacity65{
    opacity: .65;
}

.totalsWarning{
    font-size: 25px;
    color: #00abc5;
    
}

.productionBorder{
    border: 3px solid #00abc5;
}

.invoiceBorder{
    border: 3px solid #F04d23;
}

.invoicepadding{
    padding: 25px;
}

.overlayPositioning {
    width: 100%;
    position: absolute;
    background-color: white;
    /* overflow: hidden; */
    display: block;
    z-index: 1;
}

.checkbox {
    font-size: 10px;
}

@keyframes flashGreen{
    from { background-color: #02C002;}
    to { background-color: white;}
}

.addingProduct:active {
    background-color: white;
    animation-name: flashGreen;
    animation-duration: 2s;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
